## First exploration of HCPCS datasets

In [1]:
import pandas as pd
import pickle

## Read in 1000 rows of Outpatient Charge data

In [2]:
%%time

outpatient_df = pd.DataFrame()
chunk_nbr = 1

for chunk in pd.read_csv('../data/Provider_Outpatient_Hospital_Charge_Data_by_APC__CY2017.csv', 
                         chunksize = 1000):
    if chunk_nbr == 1:
        outpatient_df = outpatient_df.append(chunk)
        chunk_nbr += 1
    else: break
outpatient_df.head()

Wall time: 17.9 ms

,Provider_ID,Provider_Name,Provider_Street_Address,Provider_City,Provider_State,Provider_Zip_Code,Provider_HRR,APC,APC_Desc,Beneficiaries,CAPC_Services,Average_Total_Submitted_Charges,Average_Medicare_Allowed_Amount,Average_Medicare_Payment_Amount,Outlier_Services,Average_Medicare_Outlier_Amount
0,10001,Southeast Alabama Medical Center,1108 Ross Clark Circle,Dothan,AL,36301,AL - Dothan,5072,Level 2 Excision/ Biopsy/ Incision and Drainage,249.0,259,9575.01,1038.45,826.28,NaN,NaN
1,10001,Southeast Alabama Medical Center,1108 Ross Clark Circle,Dothan,AL,36301,AL - Dothan,5073,Level 3 Excision/ Biopsy/ Incision and Drainage,52.0,53,12578.28,1792.60,1423.25,NaN,NaN
2,10001,Southeast Alabama Medical Center,1108 Ross Clark Circle,Dothan,AL,36301,AL - Dothan,5091,Level 1 Breast/Lymphatic Surgery and Related P...,26.0,27,11337.61,2113.58,1683.99,0.0,0.0
3,10001,Southeast Alabama Medical Center,1108 Ross Clark Circle,Dothan,AL,36301,AL - Dothan,5092,Level 2 Breast/Lymphatic Surgery and Related P...,23.0,23,17116.16,3737.14,2977.55,0.0,0.0
4,10001,Southeast Alabama Medical Center,1108 Ross Clark Circle,Dothan,AL,36301,AL - Dothan,5112,Level 2 Musculoskeletal Procedures,17.0,17,7382.73,1029.46,820.21,0.0,0.0

In [4]:
outpatient_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
Provider_ID                        1000 non-null int64
Provider_Name                      1000 non-null object
Provider_Street_Address            1000 non-null object
Provider_City                      1000 non-null object
Provider_State                     1000 non-null object
Provider_Zip_Code                  1000 non-null int64
Provider_HRR                       1000 non-null object
APC                                1000 non-null int64
APC_Desc                           1000 non-null object
Beneficiaries                      989 non-null float64
CAPC_Services                      1000 non-null int64
Average_Total_Submitted_Charges    1000 non-null float64
Average_Medicare_Allowed_Amount    1000 non-null float64
Average_Medicare_Payment_Amount    1000 non-null float64
Outlier_Services                   788 non-null float64
Average_Medicare_Outlier_Amount    788 non-null float64
dtypes: float64(6), int64(4), object(6)
memory usage: 125.1+ KB

In [15]:
outpatient_df.describe()

,Provider_ID,Provider_Zip_Code,APC,Beneficiaries,CAPC_Services,Average_Total_Submitted_Charges,Average_Medicare_Allowed_Amount,Average_Medicare_Payment_Amount,Outlier_Services,Average_Medicare_Outlier_Amount
count,1000.000000,1000.00000,1000.000000,989.000000,1000.000000,1000.000000,1000.000000,1000.000000,788.000000,788.000000
mean,10054.355000,35872.89200,5413.286000,85.984833,104.228000,30629.383510,4240.771560,3583.724140,0.724619,65.541688
std,34.342953,536.21128,662.835095,144.069915,398.924277,42650.458736,4841.513288,4545.976045,4.954333,391.677309
min,10001.000000,35007.00000,5072.000000,11.000000,11.000000,1368.070000,267.110000,211.510000,0.000000,0.000000
25%,10024.000000,35243.00000,5115.750000,19.000000,20.000000,9134.330000,1718.160000,1347.727500,0.000000,0.000000
50%,10049.000000,35903.00000,5231.000000,38.000000,40.000000,16648.665000,2284.370000,1734.325000,0.000000,0.000000
75%,10087.500000,36305.00000,5374.000000,96.000000,104.000000,34324.565000,4296.377500,3394.275000,0.000000,0.000000
max,10113.000000,36853.00000,8011.000000,1962.000000,11690.000000,553162.040000,27943.060000,26627.060000,95.000000,4430.600000

## Read in Addendum b file

In [13]:
addendum_b = pd.read_excel('../data/2020_january_web_addendum_b.12312019.xlsx', header = None)

In [14]:
print(addendum_b.shape)
addendum_b.head(20)

(16631, 10)

,0,1,2,3,4,5,6,7,8,9
0,NaN,Addendum B.-Final OPPS Payment by HCPCS Code f...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,CPT codes and descriptions only are copyright ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HCPCS Code,Short Descriptor,SI,APC,Relative Weight,Payment Rate,National Unadjusted Copayment,Minimum Unadjusted Copayment,Note: Actual copayments would be lower due to ...,* Indicates a Change
3,00100,Anesth salivary gland,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,00102,Anesth repair of cleft lip,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,00103,Anesth blepharoplasty,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,00104,Anesth electroshock,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,00120,Anesth ear surgery,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,00124,Anesth ear exam,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,00126,Anesth tympanotomy,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,00140,Anesth procedures on eye,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,00142,Anesth lens surgery,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,00144,Anesth corneal transplant,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,00145,Anesth vitreoretinal surg,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,00147,Anesth iridectomy,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,00148,Anesth eye exam,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,00160,Anesth nose/sinus surgery,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,00162,Anesth nose/sinus surgery,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,00164,Anesth biopsy of nose,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,00170,Anesth procedure on mouth,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
addendum_b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16630 entries, 0 to 16629
Data columns (total 10 columns):
Unnamed: 0                                                  16629 non-null object
Addendum B.-Final OPPS Payment by HCPCS Code for CY 2020    16630 non-null object
Unnamed: 2                                                  16629 non-null object
Unnamed: 3                                                  5943 non-null object
Unnamed: 4                                                  5517 non-null object
Unnamed: 5                                                  5937 non-null object
Unnamed: 6                                                  5935 non-null object
Unnamed: 7                                                  5937 non-null object
Unnamed: 8                                                  280 non-null object
Unnamed: 9                                                  409 non-null object
dtypes: object(10)
memory usage: 1.3+ MB

## Read in ZIP to CBSA file.

In [11]:
zip_cbsa = pd.read_excel('../data/ZIP_CBSA_032020.xlsx')

In [12]:
 ## proportion of residential and business locations, zipcodes are unreliable for population
    ## census tracts are normalized for population with same number of people
zip_cbsa.head()

   ZIP   CBSA  RES_RATIO  BUS_RATIO  OTH_RATIO  TOT_RATIO
0  501  35620        0.0        1.0        0.0        1.0
1  601  38660        1.0        1.0        1.0        1.0
2  602  10380        1.0        1.0        1.0        1.0
3  603  10380        1.0        1.0        1.0        1.0
4  604  10380        1.0        1.0        1.0        1.0

In [18]:
zip_cbsa.info() ## don't want zipcodes to be type int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47415 entries, 0 to 47414
Data columns (total 6 columns):
ZIP          47415 non-null int64
CBSA         47415 non-null int64
RES_RATIO    47415 non-null float64
BUS_RATIO    47415 non-null float64
OTH_RATIO    47415 non-null float64
TOT_RATIO    47415 non-null float64
dtypes: float64(4), int64(2)
memory usage: 2.2 MB

In [ ]:
zip_cbsa.astype